@tailwind base;
@tailwind components;
@tailwind utilities;

.prose hr {
  @apply my-4;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
